* {
    margin: 0;
    padding: 0;
}
.clinica-sorriso-principal{
    background-color: rgba(255, 228, 196, 0.548);
}
.text-center {
    background-color: rgba(255, 228, 196, 0.548);
}

.collapse {
    padding: 20px;
}


.carousel{
    margin: auto;
    margin-top: 10px;
    width: 1200px;
}

.card-boot{
    padding: 20px;
    width: 700px;
    margin: auto;

}
